
:root {
  /* === MAIN COLORS === */

  --button-gradient: linear-gradient(180deg, #f26843 0%, #e74A35 100%);
  --button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74A35 100%);
  --button-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74A35 100%);
  --basic-white: 255, 255, 255;
  --basic-black: 0, 0, 0;
  --basic-blue: 46, 136, 228;
  --links-hover: 255, 188, 158;
  --shadow-orange: 172, 16, 0;
  --shadow-text: 160, 32, 11;
  --price-shadow: 49, 50, 53;
  --pin-orange: 232, 77, 55;
  --links-grey: 50, 50, 50;
  --scale-white: 248, 247, 244;
  --background-brown: #9d8b84;
  --background-blue: #8996a6;
  --background-green: #849d8f;
  --light-orange: #F26843;
  --orange: #e74A35;
  --hover-orange: #fbded7;
  --click-orange: #f6b5a5;
  --active-orange: #d07058;
  --shadow-hover-orange: #ac1000;
  --shadow-active-orange: #942718;
  --grey: #323232;
  --medium-grey: #5a5a5a;
  --light-grey: #ababab;
  --active-grey: #ededed;
  --shadow-grey: #696969;
  --modal-grey: #f8f7f4;
  --border-grey: #d3d3d2;
  --input-grey: #999999;
  --contacts-white: #fefefe;

  /* === BACKGROUND IMAGE COLORS === */
  --background-raspberry: #5d0220;
  --background-chocolate: #2f150A;
  --background-waffle: #efe3C9;
}

/* === GLOBAL === */

.body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1146px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(var(--basic-white));

  background-color: var(--background-green);
  background-repeat: no-repeat;
  background-position: top center;
}

/* Обёртка body для первого слайда */
.site-wrapper-green {
  background-color: var(--background-green);
  background-image: url(../img/slider-1.png);
}

/* Обёртка body для второго слайда */
.site-wrapper-blue {
  background-color: var(--background-blue);
  background-image: url(../img/slider-2.png);
}

/* Обёртка body для третьего слайда */
.site-wrapper-brown {
  background-color: var(--background-brown);
  background-image: url(../img/slider-3.png);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-header {
  margin: 0;
  padding: 0;
}

.reset-text {
  margin: 0;
}

/* === BUTTONS === */

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;

  color: rgb(var(--basic-white));
  background: var(--button-gradient);
  border: none;
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(var(--shadow-orange), 0.6);
  text-shadow: 0px 2px 5px rgba(var(--shadow-text), 0.7);
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover);
  box-shadow: 0px 2px 2px var(--shadow-hover-orange);
}

.button:active {
  background: var(--button-active);
  box-shadow: inset 0px 2px 2px var(--shadow-active-orange);
}

.login-form-button {
  margin: 0;
  padding: 15px 26px;
  line-height: 16px;
  cursor: pointer;
}

.cart-button {
  width: 172px;
  margin-left: 312px;
  padding: 13px 15px;
  line-height: 16px;
  cursor: pointer;
}

/* === LINKS === */

.link-light {
  color: rgb(var(--basic-white));
  border-bottom: 1px solid rgba(var(--basic-white), 0.2);
}

.link-light:hover,
.link-light:active {
  color: rgb(var(--links-hover));
  border-bottom: 1px solid rgba(var(--links-hover), 0.3);
}

.link-dark {
  color: var(--grey);
  border-bottom: 1px solid rgba(var(--links-grey), 0.3);
}

.link-dark:hover,
.link-dark:active {
  color: rgb(var(--pin-orange));
  border-bottom: 1px solid rgba(var(--pin-orange), 0.3);
}

/* === HEADER AND NAVIGATION === */

.main-header {
  position: relative;
  margin: 0;
  padding-top: 9px;
}

.main-navigation {
  display: grid;
  grid-template-columns: 164px 1fr 244px;
}

.site-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
}

.site-navigation-link {
  display: block;
  margin: 8px 15px;
  border-bottom: 1px solid rgba(var(--basic-white), 0.2);
  padding-bottom: 1px;
}

.user-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  background-color: rgba(var(--basic-white), 0.2);
  border-radius: 20px;
}

.cart-link {
  width: 80px;
  height: 32px;
  padding-right: 10px;
  padding-left: 9px;
  border-radius: 20px;
}

.login-link {
  width: 75px;
  height: 32px;
  padding-right: 9px;
  padding-left: 8px;
  border-radius: 20px;
}

.search-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-navigation .cart-full-link {
  width: 99px;
  height: 32px;
  padding-right: 10px;
  padding-left: 9px;
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border-radius: 20px;
}


.cart-link:hover,
.cart-link:focus,
.login-link:hover,
.login-link:focus,
.search-link:hover,
.search-link:focus,
.search-form:hover .search-link {
  color: var(--grey);
  background-color: rgb(var(--basic-white));
}

.cart-link:hover path,
.cart-link:focus path,
.login-link:hover path,
.login-link:focus path,
.search-link:hover path,
.search-link:focus path {
  fill: var(--grey);
}

.main-navigation a {
  color: rgb(var(--basic-white));
}

.site-navigation-link:hover  {
  margin: 0;
  padding: 8px 15px;
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border-radius: 26px;
}

.site-navigation-link:focus  {
  margin: 0;
  padding: 8px 15px;
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border-radius: 26px;
}

.site-navigation-link:active {
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}

.header-info {
  position: absolute;
  top: 65px;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: right;
}

.header-time {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  padding: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

/* === SUBMENU === */

.catalog-link {
  position: relative;
  padding-bottom: 1px;
}

.submenu-list {
  position: absolute;
  top: 37px;
  left: -5px;
  z-index: 10;
  display: none;
  width: 143px;
  min-height: 171px;
  background-color: rgb(var(--basic-white));
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black), 0.4);
}

.submenu-item a {
  display: block;
  height: 22px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-left: 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--grey);
}

.submenu-new a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 7px;
  font-weight: 700;
  line-height: 18px;
}

.submenu-new a::after {
  position: absolute;
  content: "";
  top: 37px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(var(--links-grey), 0.2);
}

.submenu-current {
  background-color: var(--active-orange);
}

.submenu-current a {
  color: rgb(var(--basic-white));
}

.submenu-item:hover {
  background-color: var(--hover-orange);
}

.submenu-item:active {
  background-color: var(--click-orange);
}

.submenu-item:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.submenu-item:first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.catalog-link:hover .submenu-list {
  display: block;
}

.catalog-link:focus-within .submenu-list {
  display: block;
}

.submenu-list:hover .site-navigation-link {
  margin: 0;
  padding: 8px 15px;
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border-radius: 26px;
}

/* === USER NAVIGATION === */

.search-dropdown {
  position: relative;
}

.login-dropdown {
  position: relative;
}

.search-form {
  position: absolute;
  right: 0;
  bottom: -87px;
  z-index: 10;

  display: none;
  width: 311px;
  height: 44px;
  padding: 20px 15px;

  background-color: var(--modal-grey);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black), 0.4);
}

.search-input {
  width: 310px;
  height: 44px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid var(--input-grey);
  border-radius: 4px;
}

.search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--input-grey);
}

.search-input:hover {
  padding-left: 15px;
  border: 2px solid var(--input-grey);
}

.search-input:focus {
  padding-left: 15px;
  border: 2px solid rgba(var(--basic-blue), 0.5);
}

.search-dropdown:hover .search-form {
  display: block;
}

.search-dropdown:focus-within .search-form {
  display: block;
}

.login-form {
  position: absolute;
  right: 0;
  bottom: -218px;
  z-index: 10;

  display: none;
  width: 241px;
  height: 172px;
  padding: 20px 17px 22px 19px;

  background-color: var(--modal-grey);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black), 0.4);
}

.login-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-extra {
  width: 119px;
  margin: 0;
  padding: 0;
}

.login-extra a {
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--grey);
  border-bottom: 1px solid rgba(var(--links-grey), 0.3);
}

.login-extra a:hover,
.login-extra a:active {
  color: rgb(var(--pin-orange));
  border-bottom: 1px solid rgba(var(--pin-orange), 0.3);
}

.login-form-input {
  width: 219px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid var(--input-grey);
  border-radius: 4px;
}

.login-form-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

.login-form-input:hover {
  width: 217px;
  height: 38px;
  padding-left: 15px;
  border: 2px solid var(--input-grey);
}

.login-form-input:focus {
  width: 217px;
  height: 38px;
  padding-left: 15px;
  border: 2px solid rgba(var(--basic-blue), 0.5);
}

.login-dropdown:hover .login-form {
  display: block;
}

.login-dropdown:focus-within .login-form {
  display: block;
}

/* === SLIDER === */

.slider {
  position: relative;
  margin-bottom: 48px;
  padding-top: 328px;
}

.slider-header {
  margin-bottom: 34px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-item {
  display: none;
  text-align: center;
}

.slider-item-current {
  display: block;
}

.slider-button {
  margin-right: 15px;
  padding: 12px 23px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.slider-controls {
  position: absolute;
  bottom: 18px;
  left: 0;
  display: flex;
  width: 79px;
  justify-content: space-between;
}

.slider-controls button {
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: transparent;
  border: 2px solid rgb(var(--basic-white));
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: rgba(var(--basic-white), 0.5);
  border: 2px solid rgb(var(--basic-white));
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:active {
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: rgb(var(--basic-white));
  border: 2px solid rgb(var(--basic-white));
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: rgb(var(--basic-white));
}

/* === SPECIAL OFFER === */

.special-offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-bottom: 40px;
}

.special-offer-item {
  position: relative;
  min-height: 213px;
  padding-top: 16px;
  padding-left: 16px;
  border-radius: 16px;
}

.special-offer-item-header {
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer-item-info {
  display: block;
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.special-offer-chocolate {
  background-color: var(--background-chocolate);
  background-image: url(../img/background-chocolate.jpg);
  background-size: cover;
}

.special-offer-raspberry {
  background-color: var(--background-raspberry);
  background-image: url(../img/background-raspberry.jpg);
  background-size: cover;
}

.special-offer-button {
  position: absolute;
  bottom: 22px;
  right: 22px;
  padding: 12px 22px;
  text-align: center;
}

/* === CART === */

.cart-dropdown {
  position: relative;
}

.cart {
  position: absolute;
  top: 35px;
  left: -411px;
  z-index: 30;

  display: none;
  width: 498px;
  min-height: 201px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 41px;


  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--grey);

  background-color: var(--modal-grey);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black), 0.2);
}

.cart-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 463px;
  margin-bottom: 16px;
}

.cart-image-wrapper {
  position: relative;
}

.cart-image-wrapper::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -20px;
  width: 11px;
  height: 11px;
  background-image: url(../img/icon-x-delete.svg);
  background-repeat: no-repeat;
}

.cart-item-title {
  padding-left: 13px;
}

.cart-strawberry-title {
  padding-top: 10px;
}

.cart-item-count {
  padding-left: 31px;
}

.cart-item-count span {
  color: var(--light-grey);
}

.cart-item-price {
  padding-left: 26px;
}

.cart-amount {
  position: relative;
  padding-top: 17px;
  padding-left: 374px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
}

.cart-amount::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -30px;
  width: 510px;
  height: 1px;
  background-color: rgba(var(--basic-black), 0.2);
}

.cart-dropdown:hover .cart {
  display: block;
}

/* === CATALOG === */

.catalog-site-navigation,
.catalog-user-navigation {
  margin-bottom: 10px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.catalog-item {
  position: relative;
  padding-right: 26px;
}

.catalog-item:nth-child(4n) {
  padding: 0;
}

.product {
  position: relative;
  min-height: 360px;
  text-align: center;
}

.product-hit-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/icon-hit.svg);
}

.product-price {
  position: absolute;
  top: 210px;
  z-index: 20;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(var(--price-shadow), 0.5);
}

.link-product {
  width: 267px;
  margin-top: 8px;
  margin-bottom: 15px;
  line-height: 22px;
  text-align: center;
}

.product-weight {
  font-size: 30px;
  line-height: 35px;
}

.product-button {
  position: absolute;
  bottom: -20px;
  left: 34px;
  z-index: 2;
  display: none;
  width: 200px;
  height: 34px;
  padding-top: 10px;
  text-shadow: none;
}

.catalog-item::before {
  position: absolute;
  content: "";
  top: -6px;
  left: -13px;
  z-index: 1;
  display: none;
  width: 293px;
  height: 402px;
  background-color: rgba(var(--basic-white), 0.2);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black), 0.2);
}

.catalog-item:hover::before {
  display: block;
  z-index: 2;
}

.catalog-item:hover .product-button {
  display: block;
}

.catalog-item:hover .product-image-wrapper {
  position: relative;
}

.catalog-item:hover .product {
  z-index: 10;
}

/* === ABOUT === */

.about {
  margin-bottom: 40px;
  padding: 0px 19px 8px;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey);
  background-color: var(--background-waffle);
  background-image: url(../img/background-waffle.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
}

.about-header {
  padding-top: 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0;
}

.about-item {
  position: relative;
  width: 485px;
  margin-bottom: 22px;
  padding-left: 56px;
}

.about-item-icecream::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/icon-ice-cream.svg);
}

.about-item-cow::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/icon-cow.svg);
}

.about-item-leaf::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/icon-leaf.svg);
}

.about-item-thermometer::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/icon-thermometer.svg);
}

/* === BLOG AND SUBSCRIBE === */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
  padding: 0;
}

.blog {
  height: 220px;
  padding: 0px 19px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  background-image: url(../img/background-strawberry.jpg);
  border-radius: 16px;
}

.blog-header {
  margin-bottom: 5px;
  padding-top: 18px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.subscribe {
  min-height: 218px;
  padding: 0;
  line-height: 22px;
  color: var(--medium-grey);
  background-color: rgb(var(--basic-white));
  background-image: url(../img/background-letter.png);
  background-size: cover;
  border-radius: 16px;
}

.subscribe-wrapper {
  width: 528px;
  min-height: 151px;
  margin: 5px 6px;
  padding-top: 24px;
  padding-left: 20px;
  padding-bottom: 35px;
  background-color: var(--modal-grey);
  border-radius: 16px;
}

.subscribe-form p {
  margin-bottom: 40px;
}

.subscribe-form {
  padding: 0;
}

.subscribe-input {
  width: 348px;
  height: 36px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 12px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--input-grey);
  border-radius: 6px;
}

.subscribe-button {
  width: 130px;
  height: 44px;
}

.subscribe-form input::placeholder {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--input-grey);
}

.subscribe-input:hover {
  margin-right: 9px;
  padding-top: 4px;
  padding-left: 11px;
  border: 2px solid var(--input-grey);
}

.subscribe-input:focus {
  margin-right: 9px;
  padding-top: 4px;
  padding-left: 11px;
  border: 2px solid rgba(var(--basic-blue), 0.5);
}

/* === MAP AND CONTACTS === */

.map {
  position: relative;
  height: 430px;
  margin: 0px -27px 10px -27px;
  background-color: var(--input-grey);
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 430px;
  border: none;
}

.contacts {
  position: absolute;
  top: 62px;
  right: 27px;

  width: 278px;
  height: 306px;
  margin: 0;
  padding-left: 25px;

  font-size: 14px;
  line-height: 20px;
  color: var(--grey);

  background-color: var(--contacts-white);
  border-radius: 16px;
}

.contacts-tel,
.contacts-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-address-text {
  margin-top: 30px;
}

.contacts-tel {
  color: inherit;
}

.contacts-tel-text {
  margin-top: 22px;
}

.contacts-button {
  display: block;
  width: 197px;
  height: 21px;
  margin-top: 29px;
  padding: 11px 28px;
}

/* === FOOTER === */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  min-width: 168px;
}

.social-item {
  margin-right: 8px;
}

.social-item:last-child {
  margin: 0;
}

.social-item-link svg {
  border: 2px solid rgba(var(--basic-white), 0.5);
  border-radius: 50%;
}

.social-item-link path {
  fill: rgba(var(--basic-white), 0.8);
}

.social-item-link:hover path {
  fill: rgba(var(--basic-white), 1);
}

.social-item-link:active svg {
  border: 2px solid rgba(var(--basic-white), 0.7);
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  padding-left: 44px;
  font-size: 13px;
}

.links-list li {
  display: block;
  min-width: 142px;
  margin-bottom: 5px;
  padding: 0;
}

.links-list li:first-child {
  position: relative;
  font-weight: 700;
}

.links-list li:first-child::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url(../img/icon-heart.svg);
}

.copyright {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}

/* === CATALOG === */

.site-navigation-current {
  display: block;
  padding: 8px 15px;
  background-color: var(--active-orange);
  border-radius: 26px;
}

.catalog-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* === BREAD CRUMBS === */

.bread-crumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3px;
  padding-top: 22px;
}

.bread-crumbs-item {
  position: relative;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
  color: rgb(var(--basic-white));
}

.bread-crumbs-item:last-child {
  margin-right: 0;
}

.bread-crumbs-item::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 62px;
  width: 6px;
  height: 6px;
  background-image: url(../img/icon-bread-crumbs.svg);
}

.bread-crumbs-current::after {
  display: none;
}

.bread-crumbs-item a {
  color: inherit;
  border-bottom: 1px solid rgba(var(--basic-white), 0.2);
}

/* === SEARCH FILTER === */

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between;
  height: 133px;
  margin-top: 24px;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter fieldset {
  margin-right: 15px;
  margin-left: 0px;
  padding: 0;
  border: none;
}

.filter legend {
  margin-bottom: 7px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(var(--basic-white), 0.2);
  border-radius: 20px;
}

.filter-range {
  width: 218px;
}

.range-controls {
  position: relative;
  height: 19px;
  padding: 17px 21px 0px;
  background-color: rgba(var(--basic-white), 0.2);
  border-radius: 20px;
}

.scale {
  height: 2px;
  background: rgba(var(--scale-white), 0.5);
}

.bar {
  width: 100px;
  height: 2px;
  margin-left: 15px;
  background: var(--modal-grey);
}

.toggle {
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--light-grey);
  border: 8px solid rgb(var(--basic-white));
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--light-grey);
  cursor: pointer;
}

.toggle-min {
  left: 34px;
}

.toggle-max {
  left: 132px;
}

.toggle:hover {
  transform: scale(1.2);
}

.filter-select {
  width: 196px;
  height: 36px;
  padding-left: 17px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(var(--basic-white));

  background-color: rgba(var(--basic-white), 0.2);
  background-image: url(../img/icon-sort.svg);
  background-repeat: no-repeat;
  background-position: 170px 14px;
  border: transparent;
  border-radius: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.filter-radio,
.filter-checkbox {
  margin-right: 20px;
}

.filter-sugar {
  margin-right: 23px;
}

.filter-fruits {
  margin-right: 26px;
}

.filter-radio:last-child {
  margin: 0;
}

.filter-radio label,
.filter-checkbox label {
  position: relative;
  display: block;
  padding-left: 32px;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 24px;
  height: 20px;
  background-image: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled:hover + label::before,
.filter-input-checkbox:disabled + label::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 24px;
  height: 20px;
  background-image: url(../img/icon-checkbox-off-disabled.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: default;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.5;
  cursor: default;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:disabled:hover + label::before,
.filter-input-radio:disabled + label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-radio-off-disabled.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: default;
}

.filter-input-radio:disabled + label {
  opacity: 0.5;
  cursor: default;
}

.filter-input-checkbox:hover + label::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-checkbox-off-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 24px;
  height: 20px;
  background-image: url(../img/icon-checkbox-on-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-radio-off-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:hover + label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-radio-on-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + label::before ,
.filter-input-radio:focus + label::before {
  outline: -webkit-focus-ring-color auto 1px;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
}

.filter-fill {
  display: flex;
  min-width: 693px;
  height: 20px;
  margin: 0;
  padding-left: 17px;
}

.filter-fat {
  display: flex;
  min-width: 412px;
  margin: 0;
  padding-left: 15px;
}

.filter-select option {
  color: var(--grey);
}

.filter-select:hover {
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  background-image: url(../img/icon-sort-hover.svg);
}

.filter-button {
  width: 144px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(var(--basic-white));
  background-color: rgba(var(--basic-white), 0.2);
  border: 2px solid rgb(var(--basic-white));
  border-radius: 20px;
  cursor: pointer;
}

.filter-button:hover {
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border: none;
}

.filter-button:active {
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border: none;
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}

/* === PAGINATION === */

.pagination-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  padding-top: 36px;
  font-weight: 500;
}

.pagination-item {
  display: block;
  margin-right: 2px;
  padding: 5px 10px;
  border-radius: 50%;
  color: rgb(var(--basic-white));
}

.pagination-list li:first-child {
  background-image: url(../img/icon-page-left.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.pagination-list li:last-child {
  margin: 0;
  background-image: url(../img/icon-page-right.svg);
  background-repeat: no-repeat;
  background-position: 12px 8px;
}

.pagination-current {
  display: block;
  padding: 5px 10px;
  color: var(--grey);
  background-color: rgb(var(--basic-white));
  border-radius: 50%;
}

.pagination-item:hover {
  background-color: rgba(var(--basic-white), 0.2);
  cursor: pointer;
}

.pagination-item:active {
  color: var(--grey);
  background-color: rgb(var(--basic-white));
}

.pagination-list::after {
  position: absolute;
  content: "";
  top: 91px;
  left: 0;
  width: 1146px;
  height: 1px;
  background-color: rgba(var(--basic-white), 0.2);
}

/* === MODAL === */

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(var(--basic-black), 0.3);
  display: none;
}

.modal {
  position: relative;
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.overlay-show {
  display: block;
  animation: show 0.4s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 429px;
  height: 408px;
  padding: 16px 24px;
  border-radius: 6px;
  background-color: var(--modal-grey);
}

.feedback-header {
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--grey);
}

.feedback-item {
  margin-bottom: 19px;
}

.feedback-label {
  display: none;
}

.feedback-input {
  width: 250px;
  height: 41px;
  padding-left: 14px;

  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;

  border: 1px solid var(--border-grey);
  border-radius: 6px;
}

.feedback-textarea::placeholder,
.feedback-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--input-grey);
}

.feedback-input:hover {
  width: 248px;
  height: 39px;
  padding-left: 13px;
  border: 2px solid var(--border-grey);
}

.feedback-textarea {
  width: 412px;
  height: 140px;
  padding-top: 10px;
  padding-left: 14px;

  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;

  border: 1px solid var(--border-grey);
  border-radius: 6px;
}

.feedback-textarea:hover {
  width: 410px;
  height: 139px;
  padding-top: 9px;
  padding-left: 13px;
  border: 2px solid var(--border-grey);
}

.feedback-textarea:focus {
  width: 410px;
  height: 139px;
  padding-top: 9px;
  padding-left: 13px;
  border: 2px solid rgba(var(--basic-blue), 0.5);
}

.feedback-button {
  align-self: flex-end;
  width: 140px;
  height: 44px;
}

.feedback-close-button {
  position: absolute;
  top: 15px;
  left: 443px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  background-image: url(../img/icon-close-x.svg);
  border: none;
  cursor: pointer;
}

/* === ANIMATION === */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes show {
  0% {
    background-color: transparent;
  }

  40% {
    background-color: rgba(var(--basic-black), 0.2);
  }

  100% {
    background-color: rgba(var(--basic-black), 0.3);
  }
}
